<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228562723819-mehe7m5hd1hojdopnijlq3ac352vvsup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228562723819-mehe7m5hd1hojdopnijlq3ac352vvsup</string>
	<key>API_KEY</key>
	<string>AIzaSyAcDs9BuAnodT6LXXoduTUbuxkCEs-5PZk</string>
	<key>GCM_SENDER_ID</key>
	<string>228562723819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alanvictor.UDSTest</string>
	<key>PROJECT_ID</key>
	<string>udstest-8e20f</string>
	<key>STORAGE_BUCKET</key>
	<string>udstest-8e20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228562723819:ios:4d00e04a1dbddceb122fae</string>
	<key>DATABASE_URL</key>
	<string>https://udstest-8e20f.firebaseio.com</string>
</dict>
</plist>